@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/ant-design-blazor/ant-design-charts-blazor" target="_blank" class="ml-md-auto">Github</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>