@inherits LayoutComponentBase
z<TopMenu></TopMenu>

<div style="display: flex;flex-direction: row;align-items:stretch">
    <div style="flex:0 0 auto;width:200px">
        <NavMenu></NavMenu>
    </div>
    <div Style="flex:1 1 auto;padding: 24px;">
        @Body
    </div>
</div>
