<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Ant Design Charts of Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Line
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Column" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Column
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/stackedColumn" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> StackedColumn
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/groupedcolumn" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> GroupedColumn
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/pie" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/donut" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Donut
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/bullet" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Bullet
            </NavLink>
        </li>
    </ul>
</div>

@code { private bool collapseNavMenu = true;

            private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            private void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            } }