@page "/column"
@using System.Drawing

<h1>Column Chart</h1>

<Column Data=data
    YField="sales"
    XField="type"     
    Label="@label"
    Title="@title"
    Meta="@meta"
        OnColumnClick="@OnColumnClick"
        
     />



@code{


    object meta = new { type =  new { alias = "类别" }, sales = new { alias = "销售额(万)" } };

    Title title = new Title { Visible = true, Text = "基础柱状图" };
    Description description = new Description { Visible=true, Text="指定颜色映射字段(colorField)"};
    Label label = new Label { Visible = true,  Style = new { fill = "red", fontSize = 12, fontWeight = 600, opacity=0.6  } };





    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();

    }


    private void OnColumnClick()
    {
        Console.WriteLine("Test");
    }



    Data[] data = new[] {

    new Data{ Sales= 8,   Type="家具家电"},
    new Data{ Sales= 12,  Type="粮油副食"},
    new Data{ Sales= 33,   Type="生鲜水果"},
    new Data{ Sales= 150,   Type="美容洗护"},
    new Data{ Sales= 85,   Type="进口食品"},
    new Data{ Sales= 28,   Type="食品饮料"},
    new Data{ Sales= 38,   Type="家庭清洁"},

    };

    public class Data
    {

        public double Sales { get; set; }

        public string Type { get; set; }
    }

}