@page "/"

<h1>AntDesign.Charts Blazor</h1>

AntDesign.Charts of blazor.

<Line Data=data />

@code{

    Data[] data = new[] {
new Data{ Year= "1991", Value= 3 },
new Data{ Year= "1992", Value= 4 },
new Data{ Year= "1993", Value= 3.5 },
new Data{ Year= "1994", Value= 5 },
new Data{ Year= "1995", Value= 4.9 },
new Data{ Year= "1996", Value= 6 },
new Data{ Year= "1997", Value= 7 },
new Data{ Year= "1998", Value= 9 },
new Data{ Year= "1999", Value= 13 },
};

    public class Data
    {
        public string Year { get; set; }

        public double Value { get; set; }
    }
}